{% extends "imsApp/layout.html" %}
{% block title %} Home {% endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">
            Welcome to SIMS
        </h1>
        <p class="lead">
            The best inventory Management system ever!
        </p>
        <p>
            <hr class="my-4">
        </p>
        <p>
            You can add, delete or update product using the navigation bar
        </p>
        <a href="{% url 'product_list' %}" class="btn btn-primary btn-lg" role="button">View Products</a>
    </div>
{% endblock %}